<mat-card class="w-100">
  <mat-card-content>
    <h4 class="mb-56">Edit Form</h4>
    <form [formGroup]="form" (ngSubmit)="edit()">
      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Puid</mat-label>
        <input matInput formControlName="puid" [(ngModel)]="data.puid" />
        <mat-error *ngIf="handleError('puid', 'required')">
          This field is required
        </mat-error>
      </mat-form-field>

      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Puname</mat-label>
        <input matInput formControlName="puname" [(ngModel)]="data.puname" />
        <mat-error *ngIf="handleError('puname', 'required')">
          This field is required
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary">Edit</button>
    </form>
  </mat-card-content>
</mat-card>
