<div class="button">
  <button
    mat-raised-button
    routerLink="/add-agencyRegisterRequest/"
    color="primary"
  >
    Add AgencyRegisterRequest
  </button>
</div>
<mat-card>
  <mat-card-content>
    <h4 class="mb-56">AgencyRegisterRequest</h4>
    <div>
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="AgencyName">
          <th mat-header-cell *matHeaderCellDef>AgencyName</th>
          <td mat-cell *matCellDef="let element">{{ element.AgencyName }}</td>
        </ng-container>
        <ng-container matColumnDef="FirstName">
          <th mat-header-cell *matHeaderCellDef>FirstName</th>
          <td mat-cell *matCellDef="let element">{{ element.FirstName }}</td>
        </ng-container>
        <ng-container matColumnDef="LastName">
          <th mat-header-cell *matHeaderCellDef>LastName</th>
          <td mat-cell *matCellDef="let element">{{ element.LastName }}</td>
        </ng-container>
        <ng-container matColumnDef="TaxId">
          <th mat-header-cell *matHeaderCellDef>TaxId</th>
          <td mat-cell *matCellDef="let element">{{ element.TaxId }}</td>
        </ng-container>
        <ng-container matColumnDef="NPN">
          <th mat-header-cell *matHeaderCellDef>NPN</th>
          <td mat-cell *matCellDef="let element">{{ element.NPN }}</td>
        </ng-container>
        <ng-container matColumnDef="WritingCode">
          <th mat-header-cell *matHeaderCellDef>WritingCode</th>
          <td mat-cell *matCellDef="let element">{{ element.WritingCode }}</td>
        </ng-container>
        <ng-container matColumnDef="UserName">
          <th mat-header-cell *matHeaderCellDef>UserName</th>
          <td mat-cell *matCellDef="let element">{{ element.UserName }}</td>
        </ng-container>
        <ng-container matColumnDef="Password">
          <th mat-header-cell *matHeaderCellDef>Password</th>
          <td mat-cell *matCellDef="let element">{{ element.Password }}</td>
        </ng-container>
        <ng-container matColumnDef="SecretImage">
          <th mat-header-cell *matHeaderCellDef>SecretImage</th>
          <td mat-cell *matCellDef="let element">{{ element.SecretImage }}</td>
        </ng-container>
        <ng-container matColumnDef="Email">
          <th mat-header-cell *matHeaderCellDef>Email</th>
          <td mat-cell *matCellDef="let element">{{ element.Email }}</td>
        </ng-container>
        <ng-container matColumnDef="Phone">
          <th mat-header-cell *matHeaderCellDef>Phone</th>
          <td mat-cell *matCellDef="let element">{{ element.Phone }}</td>
        </ng-container>
        <ng-container matColumnDef="HasAcceptedEula">
          <th mat-header-cell *matHeaderCellDef>HasAcceptedEula</th>
          <td mat-cell *matCellDef="let element">
            {{ element.HasAcceptedEula }}
          </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let element; let i = index">
            <button
              mat-icon-button
              color="primary"
              class="push-right"
              [routerLink]="['/edit-agencyRegisterRequest/', element.id]"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              mat-icon-button
              color="warn"
              (click)="delete(i, element.id)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
        aria-label="Select page of periodic elements"
      >
      </mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
